.DS_Store
*.swp
Gemfile.lock
tmp/
.vagrant/
puppet/.tmp
puppet/.librarian
puppet/Puppetfile.lock
puppet/modules/apt
puppet/modules/augeas
puppet/modules/augeasproviders_core
puppet/modules/concat
puppet/modules/core
puppet/modules/firewall
puppet/modules/fw
puppet/modules/hiera
puppet/modules/inifile
puppet/modules/lvm
puppet/modules/postgresql
puppet/modules/puppetdb
puppet/modules/puppetserver
puppet/modules/puppetserver_gem
puppet/modules/selinux
puppet/modules/stdlib
puppet/modules/translate

#CORE
puppet/modules/cis_linux
puppet/modules/kmod
puppet/modules/augeasproviders_sysctl
puppet/modules/augeasproviders_grub
puppet/modules/augeasproviders_pam
puppet/modules/network
puppet/modules/timezone
puppet/modules/ntp
puppet/modules/postfix
puppet/modules/logrotate
puppet/modules/facts_core
puppet/modules/ssh
puppet/modules/sshkeys_core
puppet/modules/common
